@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

.container-full {
  max-width: 1386px;
  padding: 0 10px;
  margin: 0 auto;
}

.container {
  max-width: 1106px;
  padding: 0 10px;
  margin: 0 auto;
}

/* HEADER */

.header {
  padding: 27px 0 50px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-name {
  font-weight: 400;
  font-size: 19.5912px;
  line-height: 24px;
  margin-left: 19px;
  color: #163872;
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.header__link:not(:last-child) {
  margin-right: 30px;
}

.header__registration {
  display: flex;
  align-items: center;
}

.header__sing-ip {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

.header__sign {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #163872;
}

.header__sing-up {
  display: flex;
  align-items: center;
}

.header__social {
  display: flex;
  column-gap: 18px;
}

/* HEADER */

/* HERO */

.hero {
  padding: 50px 0 61px;
}

.hero__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 61px;
  color: #000000;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__desc {
  max-width: 542px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 43px;
  color: #333333;
}

.hero__button {
    display: flex;
    align-items: center;
  }
  
  .hero__btn:nth-child(1) {
    padding: 12px 27.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background: #163872;
    margin-right: 21px;
    border-radius: 36px;
    box-shadow: 0px 14px 34px rgba(52, 77, 115, 0.15);
  }
  
  .hero__btn:nth-child(2) {
    padding: 12px 27.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-radius: 36px;
    color: #163872;
    border: 1px solid #163872;
    filter: drop-shadow(0px 14px 34px rgba(52, 77, 115, 0.15));
  }
  
/* HERO */

/* INTRO */

.intro {
    padding: 92px 0;
    background: #F4FAFB;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 173px 46px 125px;
    background-color: #9AD2E0;
    border-radius: 6px;
}
.card__text {
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}
.card__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card__desc {
    font-weight: 800;
    font-size: 24.1395px;
    line-height: 36px;
    color: #FFFFFF;
}
.card__desc-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.inp__btn {
    display: flex;
}
.inp {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 16px;
    gap: 10px;
    width: 284px;
    height: 52px;
    background: #F4F5F7;
    border-radius: 5px 0px 0px 5px;
    background: none;
    border: none;
    outline: none;
    padding: 14px 52px 14px 16px;
    background-color: #FFFFFF;
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;
    width: 81px;
    height: 48px;
    background: #163872;
    border-radius: 0px 5px 5px 0px;
    color: #FFFFFF;
}

/* INTRO */