@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

.container-full {
  max-width: 1386px;
  padding: 0 10px;
  margin: 0 auto;
}

.container {
  max-width: 1106px;
  padding: 0 10px;
  margin: 0 auto;
}

/* HEADER */



/* HEADER */

/* HERO */



/* HERO */

/* INTRO */
.intro {
    padding: 92px 0;
    background: #F4FAFB;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 173px 46px 125px;
    background-color: #9AD2E0;
    border-radius: 6px;
}
.card__text {
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}
.card__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card__desc {
    font-weight: 800;
    font-size: 24.1395px;
    line-height: 36px;
    color: #FFFFFF;
}
.card__desc-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.inp__btn {
    display: flex;
}
.inp {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 16px;
    gap: 10px;
    width: 284px;
    height: 52px;
    background: #F4F5F7;
    border-radius: 5px 0px 0px 5px;
    background: none;
    border: none;
    outline: none;
    padding: 14px 52px 14px 16px;
    background-color: #FFFFFF;
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;
    width: 81px;
    height: 48px;
    background: #163872;
    border-radius: 0px 5px 5px 0px;
    color: #FFFFFF;
}




/* INTRO */